<!DOCTYPE html>
<html>
  <head>
    <title>Criar Património</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
      id="bootstrap-css"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: url("../../tmp/fundo.avif");
        background-size: cover;
        margin: 0;
        padding: 0;
      }

      .overlay {
        position: relative;
        z-index: 1;
      }

      .container {
        position: relative;
        z-index: 2;
        text-align: center;
        color: #ffffff;
      }

      .form-group input[type="text"],
      .form-group select {
        border-width: 2px;
        color: #337ab7;
        background-color: rgb(223, 223, 223);
      }
    </style>
  </head>

  <body>
    <a class="btn btn-primary" href="/admin">Menu Inicial</a>
    <div class="container" style="text-align: center">
      <h1 style="color: #337ab7">Criar um novo património</h1>
      <br />
      <form
        action="/patrimonios/create"
        method="post"
        enctype="multipart/form-data"
      >
          <label for="nome" style="color: #337ab7">Nome</label>
          <input type="text" name="nome" required />
          <br />
          <br />

          <label for="avaliacao" style="color: #337ab7">Avaliação</label>
          <select id="avaliacao" name="avaliacao" required>
            <option></option>
            <option value="1 estrela">1 estrela</option>
            <option value="2 estrelas">2 estrelas</option>
            <option value="3 estrelas">3 estrelas</option>
            <option value="4 estrelas">4 estrelas</option>
            <option value="5 estrelas">5 estrelas</option>
          </select>
          <br />
          <br />

          <label for="tipo" style="color: #337ab7">Tipo de património</label>
          <select id="tipo" name="tipo" required>
            <option></option>
            <option value="Museu">Museu</option>
            <option value="Parque de exposição">Parque de exposição</option>
            <option value="Teatro">Teatro</option>
            <option value="Edifício religioso">Edifício religioso</option>
            <option value="Estádio">Estádio</option>
            <option value="Outro">Outro</option>
          </select>
          <br />
          <br />

          <label for="description" style="color: #337ab7">Descrição</label>
          <input type="text" name="description" required />
          <br />
          <br />

          <label for="file" style="color: #337ab7">Insira uma imagem</label>
          <input type="file" name="file" style="color: #000" required />
          <br />
          <br />

          <label
            for="localizacao"
            style="color: #337ab7"
            >Localização</label
          >
          <input
            id="localizacao"
            name="localizacao"
            required
          />
          <select
            id="placesDropdown"
            required
          >
            <option></option>
          </select>
          <br />
          <br />
      

        <script>
          const streetInput = document.getElementById("localizacao");
          const placesDropdown = document.getElementById("placesDropdown");
          let selectedOption = null; // Variável para armazenar a opção selecionada

          streetInput.addEventListener("input", function () {
            const searchText = streetInput.value;

            fetch(
              `https://api.geoapify.com/v1/geocode/autocomplete?text=${searchText}&apiKey=14b712fffd8e4369ac75978308f63ecf`
            )
              .then((response) => response.json())
              .then((data) => {
                placesDropdown.innerHTML = "";

                data.features.forEach((feature) => {
                  const option = document.createElement("option");
                  option.text = feature.properties.formatted;
                  option.value = JSON.stringify(feature.properties); // Armazena as propriedades como valor da opção
                  placesDropdown.add(option);
                });
                placesDropdown.selectedIndex = -1; // Remover a opção selecionada atualmente
              })
              .catch((error) => {
                console.error("Erro ao obter os lugares:", error);
              });
          });
          placesDropdown.addEventListener("change", function () {
            selectedOption = JSON.parse(placesDropdown.value); // Converte o valor JSON em um objeto
            var foundAddress = selectedOption;
            document.getElementById("localizacaoNome").value =
              foundAddress.name;
            document.getElementById("localizacaoCodigoPostal").value =
              foundAddress.postcode;
            document.getElementById("localizacaoCidade").value =
              foundAddress.city;
          });
        </script>

          <label
            for="localizacaoNome"
            style="color: #337ab7"
            hidden="true"
          ></label>
          <input
            id="localizacaoNome"
            name="localizacaoNome"
            type="text"
            readonly
          />
          <label
            for="localizacaoCodigoPostal"
            style="color: #337ab7"
            hidden="true"
          ></label>
          <input
            id="localizacaoCodigoPostal"
            name="localizacaoCodigoPostal"
            type="text"
            readonly
          />
          <label
            for="localizacaoCidade"
            style="color: #337ab7"
            hidden="true"
          ></label>
          <input
            id="localizacaoCidade"
            name="localizacaoCidade"
            type="text"
            readonly
          />
          <br />
          <br />

        <input
          type="submit"
          class="btn btn-primary"
          value="Guardar Alterações"
        />
        <br />
      </form>
      <h3 style="margin-top: 20px">
        <a href="/patrimonios">Ver todos os patrimonios</a>
        <br />
        <br />
      </h3>
      <a style="text-align: center; padding: 20px; color: #000"
        >© 2023. Todos os direitos reservados.</a
      >
    </div>
  </body>
</html>
