<!DOCTYPE html>
<html>

<head>
  <title>Purchase Ticket</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    id="bootstrap-css">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
      body {
        background-image: url("../../tmp/fundo.avif");
        background-size: cover;
        margin: 0;
        padding: 0;
      }

      .overlay {
        position: relative;
        z-index: 1;
      }

      .container {
        position: relative;
        z-index: 2;
        text-align: center;
        color: #ffffff;
      }

      .form-group input[type="text"],
      .form-group select {
        border-width: 2px;
        color: #337ab7;
        background-color: rgb(223, 223, 223);
      }
    </style>
</head>

<body>
  <div class="container" style="text-align: center;">
    <h1 style="color: #337ab7">Purchase Ticket</h1>
    <form action="/ticketsEmployee/purchase" method="post">
      <label style="color: #000">
        <input type="checkbox" id="checkbox-nif" onclick="mostrarCampoNIF()">
        Se desejar NIF assinale a caixa
      </label>
      <div id="campo-nif" style="display: none;">
      <label style="color: #337ab7" for="clientNIF">NIF do cliente</label>
      <input id="clientNIF" name="clientNIF" type="number" max="999999999" />
    </div>
    <script>
    function mostrarCampoNIF() {
      var checkbox = document.getElementById("checkbox-nif");
      var campoNIF = document.getElementById("campo-nif");

      if (checkbox.checked) {
        campoNIF.style.display = "block";
      } else {
        campoNIF.style.display = "none";
      }
    }
  </script>
      <br />
      <br />

      <label style="color: #337ab7" for="quantidade">Quantidade</label>
      <input id="quantidade" name="quantidade" type="number" min="1" max="100" />
      <br />
      <br />

      <label style="color: #000" for="pontos">Com a compra deste(s) bilhete(s) vai ganhar </label>
      <span style="color: #000" id="pontos-atuais"> 0</span>
      <label style="color: #000" for="pontos">pontos</label>
      <input id="pontos" name="pontos" type="number" hidden="true" />
      <script>
        function atualizarPontos() {
          var quantidade = parseInt(document.getElementById('quantidade').value);
          var pontos = 10 * quantidade;
          document.getElementById('pontos').value = pontos;
          document.getElementById('pontos-atuais').textContent = pontos.toString();
        }
      
        // Adicione um event listener para atualizar os pontos sempre que a quantidade for alterada
        document.getElementById('quantidade').addEventListener('change', atualizarPontos);
      </script>
      <br />
      <br />

      <% if(events.length>0) { %>
        <label style="color: #337ab7" for="eventoNome">Eventos</label>
        <tbody>
          <select id="eventoNome" name="eventoNome">
            <% for(var i=0; i<events.length;i++) { %>
              <option value="<%= events[i].nome%>">
                <%= events[i].nome%>
              </option>
              <% } %>
        </tbody>
        <% } else { %>
          <div>No events found.</div>
          <% } %>

            <br />
            <br />

            <input type="submit" value="Guardar Alterações" />
    </form>
    <h3><a href="/ticketsEmployee">voltar para os bilhetes</a></h3>
  </div>
</body>

</html>